## Fishing vessels data cleaning

In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing fishing vessels file

fv=pd.read_csv("../data/fishing_vessels.csv")

In [3]:
#check file

fv.head()

,mmsi,flag,geartype,length,tonnage,engine_power,active_2012,active_2013,active_2014,active_2015,active_2016
0,603100157,AGO,trawlers,32.808468,299.003814,733.826977,False,False,False,True,True
1,603100137,AGO,trawlers,34.568782,395.683171,864.960188,False,False,False,True,True
2,603100161,AGO,trawlers,28.822140,263.849149,651.809642,False,False,False,True,True
3,603100174,AGO,trawlers,30.721429,299.700916,703.796086,False,False,False,True,True
4,603100164,AGO,trawlers,37.479248,405.967747,850.976640,False,False,False,True,True

In [4]:
# number of rows

fv.index

RangeIndex(start=0, stop=73009, step=1)

In [5]:
#number of columns

fv.columns

Index(['mmsi', 'flag', 'geartype', 'length', 'tonnage', 'engine_power',
       'active_2012', 'active_2013', 'active_2014', 'active_2015',
       'active_2016'],
      dtype='object')

In [6]:
#check activity thinking of the merge

fv['active_2016'].value_counts()

True     60410
False    12599
Name: active_2016, dtype: int64

In [7]:
#check activity thinking of the merge

fv['active_2015'].value_counts()

True     55508
False    17501
Name: active_2015, dtype: int64

In [8]:
#keeping the boats active in 2015 or 2016 thinking of the merging

fv=fv.loc[(fv['active_2016']==True) | (fv['active_2015']==True)]

In [9]:
#check dataframe

fv.head()

,mmsi,flag,geartype,length,tonnage,engine_power,active_2012,active_2013,active_2014,active_2015,active_2016
0,603100157,AGO,trawlers,32.808468,299.003814,733.826977,False,False,False,True,True
1,603100137,AGO,trawlers,34.568782,395.683171,864.960188,False,False,False,True,True
2,603100161,AGO,trawlers,28.822140,263.849149,651.809642,False,False,False,True,True
3,603100174,AGO,trawlers,30.721429,299.700916,703.796086,False,False,False,True,True
4,603100164,AGO,trawlers,37.479248,405.967747,850.976640,False,False,False,True,True

In [10]:
#check the drop

fv.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            72999, 73000, 73001, 73002, 73003, 73004, 73005, 73006, 73007,
            73008],
           dtype='int64', length=66444)

In [11]:
#using the ISO table to actually have the country names

iso=pd.read_csv("../data/Country_ISO.csv")

In [12]:
#confirm iso is imported

iso.head()

  Code           Name
0  ABW          Aruba
1  AFG    Afghanistan
2  AGO         Angola
3  AIA       Anguilla
4  ALA  Åland Islands

In [13]:
#merging with main dataframe

merge_country=fv.merge(iso, left_on='flag', right_on='Code')

In [14]:
#confirm merging

merge_country.head()

,mmsi,flag,geartype,length,tonnage,engine_power,active_2012,active_2013,active_2014,active_2015,active_2016,Code,Name
0,603100157,AGO,trawlers,32.808468,299.003814,733.826977,False,False,False,True,True,AGO,Angola
1,603100137,AGO,trawlers,34.568782,395.683171,864.960188,False,False,False,True,True,AGO,Angola
2,603100161,AGO,trawlers,28.822140,263.849149,651.809642,False,False,False,True,True,AGO,Angola
3,603100174,AGO,trawlers,30.721429,299.700916,703.796086,False,False,False,True,True,AGO,Angola
4,603100164,AGO,trawlers,37.479248,405.967747,850.976640,False,False,False,True,True,AGO,Angola

In [15]:
#check if data not lost

merge_country.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            66316, 66317, 66318, 66319, 66320, 66321, 66322, 66323, 66324,
            66325],
           dtype='int64', length=66326)

In [16]:
#dropping non-relevant columns

merge_country = merge_country.drop(['Code','active_2012','active_2013','active_2014','active_2015','active_2016'], axis=1)

In [17]:
#check the drop

merge_country

,mmsi,flag,geartype,length,tonnage,engine_power,Name
0,603100157,AGO,trawlers,32.808468,299.003814,733.826977,Angola
1,603100137,AGO,trawlers,34.568782,395.683171,864.960188,Angola
2,603100161,AGO,trawlers,28.822140,263.849149,651.809642,Angola
3,603100174,AGO,trawlers,30.721429,299.700916,703.796086,Angola
4,603100164,AGO,trawlers,37.479248,405.967747,850.976640,Angola
...,...,...,...,...,...,...,...
66321,601764000,ZAF,drifting_longlines,17.032258,52.550920,207.818629,South Africa
66322,601089100,ZAF,drifting_longlines,22.915622,180.506028,527.507463,South Africa
66323,601849000,ZAF,drifting_longlines,19.692080,86.485661,362.553279,South Africa
66324,601183700,ZAF,drifting_longlines,31.872860,307.446773,977.330342,South Africa
66325,601826000,ZAF,drifting_longlines,25.401070,160.784917,365.421212,South Africa

In [18]:
#check for nulls. mmsi null is pointless

merge_country['mmsi'].isnull().value_counts()

False    66326
Name: mmsi, dtype: int64

In [19]:
#rename columns

merge_country.columns=['mmsi','flag','gear_type','length','tonnage','engine_power','country']

In [20]:
#confirm

merge_country.head()

        mmsi flag gear_type     length     tonnage  engine_power country
0  603100157  AGO  trawlers  32.808468  299.003814    733.826977  Angola
1  603100137  AGO  trawlers  34.568782  395.683171    864.960188  Angola
2  603100161  AGO  trawlers  28.822140  263.849149    651.809642  Angola
3  603100174  AGO  trawlers  30.721429  299.700916    703.796086  Angola
4  603100164  AGO  trawlers  37.479248  405.967747    850.976640  Angola

In [21]:
#check the types

merge_country.dtypes

mmsi              int64
flag             object
gear_type        object
length          float64
tonnage         float64
engine_power    float64
country          object
dtype: object

In [22]:
#import as CSV

merge_country.to_csv('fishvessel_clean.csv', index=False)